body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(hahaha.webp);
}

@keyframes heart {
  0% {
    width: 350px;
  }

  50% {
    width: 450px;
  }

  100% {
    width: 350px;
  }
}

img {
  width: 350px;
  animation-name: heart;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.text {
  position: absolute;
  bottom: 45%;
  left: 43%;
  font-size: 1.6rem;
}

@media screen and (max-width : 600px) {
  img {
    width: 340px;
    animation-name: heart;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .text {
    position: absolute;
    bottom: 428px;
    left: 98px;
    font-size: 1.2rem;
    font: bold;
  }

  @keyframes heart {
    0% {
      width: 300px;
    }

    50% {
      width: 450px;
    }

    100% {
      width: 300px;
    }
  }
}

@media screen and (max-width : 375px) {
  img {
    width: 340px;
    animation-name: heart;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .text {
    position: absolute;
    bottom: 340px;
    left: 80px;
    font-size: 1.2rem;
    font: bold;
  }

  @keyframes heart {
    0% {
      width: 300px;
    }

    50% {
      width: 400px;
    }

    100% {
      width: 300px;
    }
  }
}

@media screen and (max-width : 720px) {
  img {
    width: 340px;
    animation-name: heart;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .text {
    position: absolute;
    bottom: 740px;
    left: 270px;
    font-size: 1.2rem;
    font: bold;
  }

  @keyframes heart {
    0% {
      width: 300px;
    }

    50% {
      width: 400px;
    }

    100% {
      width: 300px;
    }
  }
}